node_modules/
hooks/

demoNative/node_modules/
demoNative/platforms/
demoNative/lib
demoNative/.migration_backup/
demoNative/.update_backup/

npm_debug.log

.idea/
package-lock.json

.DS_Store*
Thumbs.db*

*.js.map

*.js
*.tgz
package/

