.api_wrapper{
    height: 60px;
    /*border-style: solid;*/
    /*border-color: black;*/
    border-top: solid 10px black;


    background-color:green;
}


.default_button{
    height: 60px;
    width: 100px;
    background-color: powderblue;
}

.data_wrapper{
    height: 60px;
    background-color: skyblue;
}