/*.api-wrapper{*/
    /*border: solid 10px black;*/
/*}*/


.default_button{
    height: 60px;
    width: 100px;
    background-color: powderblue;
}

.data-wrapper{
    height: 60px;
    background-color: skyblue;
    /*padding-left: 20px;*/
}

.data-wrapper-label{
    height: 60px;
    line-height: 60px;
}



.sdk-button{
    font-size: 14px;
    color: green;
    margin: 0;/*20px 10px 10px 1px;*/
    height: 60px;
    width: 100px;
    background-color: powderblue;
}

.sdk-button-font-mini{
    font-size: 12px;
    color: green;
    margin: 20px 10px 10px 10px;
}